body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(32, 91, 255);
}
.container{
    width: 1000px;
    height: 500px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
}
.tools{
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5050505d;
}
.tools div{
    display: flex;
    align-items: center;
    i{
        margin-right: 3px;
    }
    input[type= "color"]{
        margin-left: 4px;
    }
}
.save-btn, .clear-btn{
    all: unset;
    background-color: rgb(32, 91, 255);
    border-radius: 5px;
    padding: 5px 10px;
    margin-inline: 3px;
    color: #fff;
    border: 1px solid rgb(32, 91, 255);
}
.save-btn:hover{
    background-color: rgb(0, 58, 219);
}
.clear-btn{
    background-color: #ececec;
    border: 1px solid #3535359d;
    color: #000;
}
.clear-btn:hover{
    background-color: #dbdbdb;
}
.draw-aera canvas{
    width: 100%;
}